<meta charset="UTF-8">

<!--Useful links -->
<link rel="icon" href="https://cdn.dribbble.com/users/846370/screenshots/15125758/media/023ecbffbd17bef88d143c8198acf89e.jpg?resize=400x300&vertical=center" type="image/x-icon">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/style.min.css">

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">


<title>{{ title }}</title>
